/* loading */
@keyframes ldio-qil3bdsdgd {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }
  .ldio-qil3bdsdgd div {
    left: 94px;
    top: 48px;
    position: absolute;
    animation: ldio-qil3bdsdgd linear 1s infinite;
    background: #C1DAFF;
    width: 12px;
    height: 24px;
    border-radius: 6px / 12px;
    transform-origin: 6px 52px;
    
  }.ldio-qil3bdsdgd div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s;
    background: #C1DAFF;
  }.ldio-qil3bdsdgd div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s;
    background: #C1DAFF;
  }.ldio-qil3bdsdgd div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s;
    background: #C1DAFF;
  }.ldio-qil3bdsdgd div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s;
    background: #C1DAFF;
  }.ldio-qil3bdsdgd div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s;
    background: #C1DAFF;
  }.ldio-qil3bdsdgd div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s;
    background: #C1DAFF;
  }.ldio-qil3bdsdgd div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s;
    background: #C1DAFF;
  }.ldio-qil3bdsdgd div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s;
    background: #C1DAFF;
  }.ldio-qil3bdsdgd div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s;
    background: #C1DAFF;
  }.ldio-qil3bdsdgd div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s;
    background: #C1DAFF;
  }.ldio-qil3bdsdgd div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s;
    background: #C1DAFF;
  }.ldio-qil3bdsdgd div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #C1DAFF;
  }
  .loadingio-spinner-spinner-o5dixidgmqa {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #ffff;
    position: relative;
    transform: translate(-50%, -50%);
    top:50%;
    left: 50%;
  
  }
  .ldio-qil3bdsdgd {
    width: 100%;
    height: 100%;
    position: relative;
    backface-visibility: hidden;
    transform-origin: 0 0;  
    transform: translate(-50%, -50%);
    top:50%;
    left: 50%;
  }
  .ldio-qil3bdsdgd div { box-sizing: content-box; }
  #loadingScreen {
      position: fixed;
      width: 100%;
      height: 100%;
      background: white;
      z-index: 9999;
      display: flex;
  }










.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 20px;
    padding: 40px 0px ;
}


/* table style */
table, th, td, tr {
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border-radius: 5px ;
    overflow: hidden; 
    box-shadow: 0 0 8px #0000001a;
}

table, th, td {
    border: 1px solid #cccccc;
}

th, td {
    padding: 10px;
    text-align: center;
    font-weight: 250;
}

th {
    background-color: #bfeafa84;
    font-weight: 500;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e6e6e6;
}

.background-purple {
    color:#4F009A;
    font-weight: 700;
}

.background-red {
    color: #FF0000;
    font-weight: 700;
}
.background-orange {
    color: #FF8000;
    font-weight: 700;
}
.background-yellow {
    color: #FFD500;
    font-weight: 700;
}
.background-green {
    color:#008000;
    font-weight: 700;

}


.featureAqiTitle_div, .featureAqiUpdateTime_div, .featureAqiUpdateTime_div, .featureDesciptionTitle_div, .featureDesciprionContent_div {
    width: 1200px;
}


.featureAqiTitle_div,.featureDesciptionTitle_div {
    height: 50px;
    background-color: rgba(222, 241, 255, 1);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
}
.featureAqiTitle_span,.featureDesciptionTitle_span {
    font-size: 20px;
    font-weight: 600;
}

.featureAqiUpdateTime_div {
    padding-left: 20px;
}

.featureDesciprionContent_div{
    display: flex;
    justify-content: center;
}

.featureDesciprionContent_p { 
    max-width: 800px;
    font-weight: 330;
    font-size: 16px;
}

@media (max-width: 1200px) {
    .featureAqiTitle_div, .featureAqiUpdateTime_div, .featureAqiUpdateTime_div, .featureDesciptionTitle_div, .featureDesciprionContent_div {
        width: calc(100% - 40px);
    }
    .featureDesciprionContent_p {
        padding: 0px 20px; 
    }
}

@media (max-width: 700px) {
    .featureAqiTitle_span, .featureDesciptionTitle_span {
        font-size: 16px;
    }
    .featureDesciprionContent_p {
        padding: 0px 20px; 
    }
    table, th, td, tr {
        font-size: 14px;
    }
    .table-con {
        padding: 0px 20px;
    }
    
    
}

@media (max-width: 400px) {

    .featureAqiTitle_span, .featureDesciptionTitle_span {
        font-size: 14px;
    }
    table, th, td, tr {
        font-size: 10px;
    }
    .table-con {
        padding: 0px 20px;
    }
    
    
}